@use '../../app/globals.scss';

.item-product {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #222228;
    box-shadow: 0 .2em .8em #0005;
    height: 100%;
    width: 100%;
    border-radius: 1em;

    .image-container {
        border-radius: 1em;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 3 / 2;

        &:hover {
            .shadow-container {
                opacity: 1;
                pointer-events: auto;
            }

            .images::before {
                opacity: 1;
            }
        }

        &:not(&:hover) .shadow-container {
            opacity: 0;
            pointer-events: none;
        }

        .shadow-redirect {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            cursor: pointer;
            outline: 2px solid transparent;
            transition: outline-color .2s;
            border-radius: 1em;

            &:hover {
                outline-color: globals.$primary-color;
            }
        }

        .images {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
            border-radius: 1em;

            &::before {
                content: '';
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #0006;
                z-index: 10;
                opacity: 0;
                transition: opacity .2s;
            }

            .shadow-container {
                position: absolute;
                padding: .5em;
                right: 0;
                bottom: 0;
                z-index: 10;
                display: flex;
                gap: .2em;
                transition: opacity .2s;

                .icon {
                    font-size: 1.5em;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: .25em;
                    border-radius: 1em;
                    cursor: pointer;
                    transition: background-color .2s;

                    &:hover {
                        background-color: #8887;
                    }

                    * {
                        pointer-events: none;
                    }
                }
            }
        }

        .product-image {
            pointer-events: none;
            position: absolute;
            height: 100%;
            width: 100%;

            &:not(&.shadow) {
                object-fit: contain;
                z-index: 1;
            }

            &.shadow {
                object-fit: cover;
                filter: blur(.5em);
                scale: 1.1;
            }
        }
    }

    .product-info {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;

        .product-title {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .product-desc {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            color: #eef7;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
        }

        .row {
            opacity: .5;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .category {
            position: relative;
            margin-right: auto;
            font-weight: 600;
            font-size: 1em;
            padding: .2em .35em;
            border-radius: .3em;
            color: #eefc;
            background-color: #ddddff28;
        }
    }
}