@use './globals.scss';

.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .home-header {
        position: sticky;
        top: 0;
        padding: 2em 1em;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #15151a;
        border-bottom: .12rem solid #333;
        user-select: none;

        .header-content {
            max-width: 64rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.1em;

            .header-title {
                font-weight: 600;
                color: globals.$primary-color;
            }

            .links-list {
                display: flex;
                align-items: center;

                .product-search {
                    display: flex;
                    position: relative;
                    margin-right: 1em;

                    label {
                        top: 50%;
                        translate: 0 -40%;
                        right: .5em;
                        pointer-events: none;
                        position: absolute;
                        color: globals.$primary-color;
                    }

                    .search-product {
                        font-family: inherit;
                        outline: none !important;
                        border-radius: .5em;
                        padding: 1em;
                        background-color: #222228;
                        border: .05rem solid #eef3;
                        transition: border-color .2s;
                    }
                }

                .link-header {
                    font-weight: 600;
                    list-style: none;
                    margin: .2em .75em;
                    transition: color .2s;

                    &:hover {
                        color: globals.$primary-color;
                    }
                }
            }
        }
    }

    .home-article {
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        align-items: center;
        justify-content: center;
        padding: 4em;
        font-size: 1.4em;

        >a {
            background-color: globals.$primary-color;
            padding: .5em 1em;
            border-radius: .5em;
        }
    }

    .main-article {
        padding: 4em max(4em, 5vw);
        background-color: #15151a;
        display: flex;
        flex-direction: column;
        gap: 2em;

        .main-products {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
            gap: 1em;
        }
    }

    .title-article {
        font-size: 1.8em;
        text-align: center;
    }

    .info-article {
        background-color: #222228;
        padding: 4em;
        display: flex;
        flex-direction: column;
        gap: 3em;

        .info-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-content: center;
            gap: 2em;
            width: 100%;
            max-width: 64rem;
            margin-inline: auto;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;
                padding: 2em;
                height: 100%;
                background-color: #15151a;
                border-radius: .5em;
                outline: 2px solid transparent;
                transition: translate .2s, outline-color .2s;

                &:hover {
                    translate: 0 -.5em;
                    outline-color: globals.$primary-color;
                }

                .card-icon {
                    font-size: 4em;
                    color: globals.$primary-color;
                }

                .card-desc {
                    opacity: .8;
                    text-align: center;
                }
            }
        }
    }
}