@use '../globals.scss';

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container {
    padding: 2em 1em;
    border-radius: .35em;
    border: .15em solid #eee2;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
    box-shadow: 0 .25em .65em #000;

    .container-header {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .header-title {
            text-align: center;
            font-size: 1.8em;
            color: globals.$primary-color;
        }

        .desc {
            color: globals.$primary-color;
        }
    }

    .main-content {
        // display: flex;
        // flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1em 0;
    }

    .error-msg {
        color: red;
        font-weight: bolder;
    }

    .policity-terms {
        user-select: none;
        display: flex;
        align-items: center;
        gap: .5em;
        word-break: keep-all;

        label {
            display: flex;
            gap: .5em;
        }
    }

    a {
        font-weight: bolder;
        color: globals.$primary-color;
    }

    .submit-register {
        margin-top: .65em;
        margin-bottom: 1.2em;
        background-color: globals.$primary-color;
        font-size: 1.2em;
        padding: .75em 2.5em;
        border: none;
        border-radius: 2em;
        font-weight: 700;
        cursor: pointer;
    }
}