body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    padding: 2em 3em;
    border-radius: .35em;
    border: .15em solid #eee2;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
    box-shadow: 0 .25em .65em #000;

    .container-header {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .header-title {
            text-align: center;
            font-size: 1.8em;
            color: var(--primary-color);
        }

        .desc {
            color: var(--primary-color);
        }
    }

    .main-content {
        padding: 1em 0;
        width: 100%;
    }

    .error-msg {
        color: red;
        font-weight: bolder;
    }

    a {
        font-weight: bolder;
        color: var(--primary-color);
    }

    .submit-login {
        margin-top: .65em;
        margin-bottom: 1.2em;
        background-color: var(--primary-color);
        font-size: 1.2em;
        padding: .75em 2.5em;
        border: none;
        border-radius: 2em;
        font-weight: 700;
        cursor: pointer;
    }
}