.donate-page {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Poppins;

    .donate-header {
        position: sticky;
        top: 0;
        padding: 2em 1em;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #222;
        border-bottom: 2px solid #aaa4;

        .header-content {
            max-width: 64rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2em;

            .header-title {
                font-weight: 600;

                .title-logo {
                    color: var(--primary-color);
                    font-weight: 700;
                }
            }

            .links-list {
                display: flex;

                .link-header {
                    font-weight: 600;
                    list-style: none;
                    padding: .2em .5em;
                    transition: color .2s;

                    &.active {
                        pointer-events: none;
                        color: var(--primary-color);
                    }

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }

    .main-content {
        flex-grow: 1;
        min-height: 100%;
        padding: 1em;
        background-color: red;
    }
}